@import "../../Styles/global";

.services {
  height: 50vh;
  width: 100%;
  &__title {
    font-size: 2rem;
    text-align: center;
  }
  &__menu-wrp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  &__menu-card {
    // display: flex;
    // justify-content: center;
    width: 40%;
  }
  &__menu-img {
    width: 50%;
    min-height: 90px;
    max-height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &__menu-title {
    text-align: center;
  }
}
