@import "../../Styles/global";

.hero {
  margin-top: 1%;
  height: 200px;
  background-size: cover;
  background-image: url(../../Assets/Images/seniorcare.jpg);
  background-position: center;
  background-repeat: no-repeat;

  @include tablet {
    height: 500px;
  }
  @include desktop {
    height: 600px;
  }
}
