@import "../../Styles/global";

// NavBar styling for tablet and desktop media

.nav {
  background-color: white;
  border-bottom: 2px solid #45eeff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  @include tablet {
    border-bottom: none;
  }

  &__logo-link {
    margin-left: 5%;
    padding-bottom: 0;
    background-color: transparent;
  }

  &__logo-title {
    // justify-self: start;
    font-size: 1.75rem;
    margin-top: 2%;
    font-weight: 700;
    font-family: "Alice";
    color: #ff69b4;
    // background-color: transparent;
    // margin-right: 5%;
    // margin-left: 1%;
    // width: auto;
  }

  &__menu {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: end;
    // width: 80vw;
    width: 100%;
    justify-content: end;
    // padding-left: 70px;
    margin-right: 2rem;
  }

  &__list {
    color: black;
    font-size: 1.5rem;
    &:hover {
      color: red;
    }
    @include tablet {
      font-size: 1.3rem;
    }
    @include desktop {
      font-size: 1.5rem;
    }
  }

  // &__link {
  //   background-color: white;
  //   color: rgb(15, 1, 1);
  //   font-size: 1.5rem;
  //   font-family: "BreeSerif";
  //   text-decoration: none;
  //   padding: 0.5rem 1rem;
  //   // z-index: 9;
  //   // &:hover {
  //   //   font-weight: 800;
  //   //   color: #45eeff;
  //   //   transition: all 0.2s ease-out;
  //   // }
  // }

  &__menu-icon {
    display: none;
  }
}

li {
  width: 100%;
  text-align: center;
  color: red;
  &:hover {
    background-color: grey;
  }
  @include tablet {
    &:hover {
      background-color: white;
      color: blue;
    }
  }
}

.fa-bars {
  color: white;
  background-color: #050a17;
  margin-top: 5px;
}

// Nav Bar stylings for mobile and hamburger menu

@media screen and (max-width: 767px) {
  .nav {
    position: relative;

    &__menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -120%;
      opacity: 1;
    }
    &__menu-active {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      background-color: #b7f3ed;
      width: 100%;
      top: 65px;
      left: 0;
      padding: 0;
      // text-align: center;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 10;
    }

    &__link {
      text-align: center;
      padding: 1rem;
      width: 100%;
      display: table;
      &:hover {
        border: #b7f3ed;
        color: #b7f3ed;
        background-color: #45f0ffaf;
        border-radius: 0;
      }
    }

    &__logo-title {
      // position: absolute;
      // top: 2px;

      // left: -45px;
      font-size: 1.6rem;
      // transform: translate(25%, 50%);
    }

    &__menu-icon {
      background-color: white;
      color: blue;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  .fa-bars {
    background-color: white;
    color: blue;
  }
  .fa-times {
    background-color: white;
    color: black;
    font-size: 2rem;
  }
}

// a {
//   text-decoration: none;
// }
