@import "../../Styles/global";

.testimonials {
  height: 50vh;
  background-color: white;

  &__title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
  }
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}

.test {
  // height: 100px;
  margin-bottom: 50px;
}
